.EditorTheme__code {
	position: relative;
	display: block;
	padding: 8px 8px 8px 52px;
	margin: 0;
	margin-top: 8px;
	margin-bottom: 8px;
	overflow-x: auto;
	font-family: Menlo, Consolas, Monaco, monospace;
	font-size: 13px;
	line-height: 1.53;
	tab-size: 2;
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 8px;
}
.EditorTheme__code:before {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 25px;
	padding: 8px;
	color: #777;
	text-align: right;
	white-space: pre-wrap;
	content: attr(data-gutter);
	background-color: transparent;
	border-right: 1px solid #ccc;
}
.EditorTheme__table {
	width: fit-content;
	width: 100%;
	margin: 0px 0px 30px 0px;
	overflow-x: scroll;
	overflow-y: scroll;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}
.EditorTheme__tokenComment {
	color: slategray;
}
.EditorTheme__tokenPunctuation {
	color: #999;
}
.EditorTheme__tokenProperty {
	color: #905;
}
.EditorTheme__tokenSelector {
	color: #690;
}
.EditorTheme__tokenOperator {
	color: #9a6e3a;
}
.EditorTheme__tokenAttr {
	color: #07a;
}
.EditorTheme__tokenVariable {
	color: #e90;
}
.EditorTheme__tokenFunction {
	color: #dd4a68;
}

.Collapsible__container {
	margin-bottom: 0.5rem;
	background-color: var(--background);
	border: 1px solid #ccc;
	border-radius: 0.5rem;
}

.Collapsible__title {
	position: relative;
	padding: 0.25rem;
	padding-left: 1rem;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	list-style-position: inside;
	list-style-type: disclosure-closed;
}

.Collapsible__title p {
	display: inline-flex;
}
.Collapsible__title::marker {
	color: lightgray;
}
.Collapsible__container[open] > .Collapsible__title {
	list-style-type: disclosure-open;
}
